<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="js/main.js"></script>
    <style type="text/css">
        body {
            background-color: fuchsia;
        }
        
        tr:hover {
            background-color: cyan;
            color: crimson;
        }
    </style>
</head>

<body>

    <table border="1" bordercolor="green">
        <caption>My table</caption>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Location</th>
        </tr>

        <tr>
            <td>Mabeya</td>
            <td>Ksh 100</td>
            <td>Migori</td>

        </tr>
        <tr>
            <td>Mabeya</td>
            <td>Ksh 100</td>
            <td>Migori</td>

        </tr>
        <tr>
            <td>Mabeya</td>
            <td>Ksh 100</td>
            <td>Migori</td>

        </tr>
    </table>
    <a href="mailto: abc.abc@tezzabiz.com">Send Mail</a>
    <marquee direction="up">This example will take only 50% width</marquee>
    <input type="button" value="Submit" onclick="hello()">
</body>

</html>